

.username{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size:2rem;
    width: 120px;
    margin: 20px;
    padding: 10px;
}
.background img{
    margin: 20px;
    width: 200px;
    height: 200px;
}
.background i{
    font-size: 2.5rem;
}